In [1]:
from sqlalchemy import create_engine, text

In [2]:
import pandas as pd

In [3]:
database_name = 'Prescribers'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:
engine

Engine(postgresql://postgres:***@localhost:5432/Prescribers)

In [6]:
cbsa1 = '''
SELECT *
FROM cbsa
'''

with engine.connect() as connection:
    cbsa = pd.read_sql(text(cbsa1), con = connection)

cbsa.head()

  fipscounty   cbsa                          cbsaname
0      01001  33860                    Montgomery, AL
1      01003  19300         Daphne-Fairhope-Foley, AL
2      01007  13820             Birmingham-Hoover, AL
3      01009  13820             Birmingham-Hoover, AL
4      01015  11500  Anniston-Oxford-Jacksonville, AL

In [7]:
prescriber1 = '''
SELECT *
FROM prescriber
'''

with engine.connect() as connection:
    prescriber = pd.read_sql(text(prescriber1), con = connection)

prescriber.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [8]:
zip_fips1 = '''
SELECT *
FROM zip_fips
'''

with engine.connect() as connection:
    zip_fips = pd.read_sql(text(zip_fips1), con = connection)

zip_fips.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [9]:
drug1 = '''
SELECT *
FROM drug
'''

with engine.connect() as connection:
    drug = pd.read_sql(text(drug1), con = connection)

drug.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [10]:
population1 = '''
SELECT *
FROM population
'''

with engine.connect() as connection:
    population = pd.read_sql(text(population1), con = connection)

population.head()

  fipscounty  population
0      47017     28137.0
1      47023     17097.0
2      47039     11681.0
3      47037    678322.0
4      47087     11573.0

In [11]:
fips_county1 = '''
SELECT *
FROM fips_county
'''

with engine.connect() as connection:
    fips_county = pd.read_sql(text(fips_county1), con = connection)

fips_county.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [12]:
overdose_deaths1 = '''
SELECT *
FROM overdose_deaths
'''

with engine.connect() as connection:
    overdose_deaths = pd.read_sql(text(overdose_deaths1), con = connection)

overdose_deaths.head()

   overdose_deaths  year  fipscounty
0              135  2015       47157
1              150  2016       47157
2              159  2017       47157
3              123  2018       47157
4              122  2015       47093

In [27]:
prescription1 = '''
SELECT *
FROM prescription
'''

with engine.connect() as connection:
    prescription = pd.read_sql(text(prescription1), con = connection)

prescription.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

## # Tennessee's Opioid Crisis

Opioids are a class of drugs including prescription pain relievers such as oxycodone and hydrocodone, the synthetic opioid fentanyl, and the illegal drug heroin. These drugs produce euphoria in addition to pain relief, which can lead to dependence, addiction, overdose, and death. 

In the late 1990s, opioids began to be prescribed at high rates, which led to widespread misuse and ultimately created a serious national health crisis. In 2019, more than 130 people per day died from opioid-related drug overdoses in the United States. Tennessee has been one of the hardest-hit states in the opioid epidemic, with more than 1300 overdose deaths in 2018.

## Question #1: * Which Tennessee counties had a disproportionately high number of opioid prescriptions?

In [35]:
drug_pre=pd.merge(drug, prescription, on=['drug_name'], how='inner')
drug_pre

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.720135e+09,NaN,12.0,12.0,360.0,4616.65,NaN,*,12.0,None,12.0,360.0,4616.65
1,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.306887e+09,11.0,85.0,89.0,2670.0,17543.98,0.0,None,0.0,None,0.0,0.0,0.00
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.982033e+09,NaN,11.0,11.0,330.0,2700.22,NaN,*,NaN,*,NaN,NaN,NaN
3,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.205820e+09,NaN,64.0,72.0,2160.0,14345.32,NaN,*,35.0,None,43.0,1290.0,9052.20
4,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.124292e+09,NaN,15.0,15.0,450.0,2176.36,NaN,*,NaN,*,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705010,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.902813e+09,NaN,18.0,18.0,540.0,168956.77,NaN,*,18.0,None,18.0,540.0,168956.77
705011,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.306863e+09,NaN,11.0,11.0,330.0,106655.66,NaN,*,11.0,None,11.0,330.0,106655.66
705012,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.912231e+09,NaN,11.0,11.0,330.0,105202.59,NaN,*,NaN,*,NaN,NaN,NaN
705013,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.962652e+09,NaN,13.0,13.0,390.0,121342.73,NaN,*,13.0,None,13.0,390.0,121342.73
705014,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.609053e+09,NaN,16.0,16.0,480.0,128157.13,NaN,*,16.0,None,16.0,480.0,128157.13

In [39]:
pre_pre=pd.merge(drug_pre, prescriber, on=['npi'], how='inner')
pre_pre

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,...,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.720135e+09,NaN,12.0,12.0,...,1804 STATE ST,None,NASHVILLE,37203,2206,TN,US,Family Practice,S,E
1,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.306887e+09,11.0,85.0,89.0,...,1068 CRESTHAVEN RD,SUITE 250,MEMPHIS,38119,0800,TN,US,Infectious Disease,S,E
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.982033e+09,NaN,11.0,11.0,...,615 N STATE OF FRANKLIN RD,None,JOHNSON CITY,37604,8209,TN,US,Nurse Practitioner,S,E
3,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.205820e+09,NaN,64.0,72.0,...,3601 THE VANDERBILT CLINIC,None,NASHVILLE,37232,0001,TN,US,Infectious Disease,S,E
4,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.124292e+09,NaN,15.0,15.0,...,719 THOMPSON LN,SUITE 37189,NASHVILLE,37204,3609,TN,US,Internal Medicine,S,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705010,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.902813e+09,NaN,18.0,18.0,...,5653 FRIST BLVD,STE 434,HERMITAGE,37076,2062,TN,US,Hematology-Oncology,S,E
705011,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.306863e+09,NaN,11.0,11.0,...,250 25TH AVE N,STE 100,NASHVILLE,37203,1632,TN,US,Medical Oncology,S,E
705012,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.912231e+09,NaN,11.0,11.0,...,935 WAYNE RD STE A,None,SAVANNAH,38372,1912,TN,US,Nurse Practitioner,S,E
705013,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.962652e+09,NaN,13.0,13.0,...,1818 ALBION ST,None,NASHVILLE,37208,2918,TN,US,Hematology,S,E
705014,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.609053e+09,NaN,16.0,16.0,...,3601 THE VANDERBILT CLINIC,None,NASHVILLE,37232,0001,TN,US,Urology,S,E

In [51]:
pd.concat([pre_pre, zip_fips], axis=1)

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,...,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,zip,fipscounty,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.720135e+09,NaN,12.0,12.0,...,US,Family Practice,S,E,00501,36103,0.000000,1.00000,0.000000,1.000000
1,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.306887e+09,11.0,85.0,89.0,...,US,Infectious Disease,S,E,00601,72113,0.160724,0.20098,0.128834,0.162500
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.982033e+09,NaN,11.0,11.0,...,US,Nurse Practitioner,S,E,00601,72001,0.839276,0.79902,0.871166,0.837500
3,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.205820e+09,NaN,64.0,72.0,...,US,Infectious Disease,S,E,00602,72003,1.000000,0.99880,1.000000,0.999919
4,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.124292e+09,NaN,15.0,15.0,...,US,Internal Medicine,S,E,00602,72005,0.000000,0.00120,0.000000,0.000081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705010,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.902813e+09,NaN,18.0,18.0,...,US,Hematology-Oncology,S,E,NaN,NaN,NaN,NaN,NaN,NaN
705011,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.306863e+09,NaN,11.0,11.0,...,US,Medical Oncology,S,E,NaN,NaN,NaN,NaN,NaN,NaN
705012,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.912231e+09,NaN,11.0,11.0,...,US,Nurse Practitioner,S,E,NaN,NaN,NaN,NaN,NaN,NaN
705013,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.962652e+09,NaN,13.0,13.0,...,US,Hematology,S,E,NaN,NaN,NaN,NaN,NaN,NaN
705014,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.609053e+09,NaN,16.0,16.0,...,US,Urology,S,E,NaN,NaN,NaN,NaN,NaN,NaN

## Question #2: Who are the top opioid prescibers for the state of Tennessee?

## Question #3:  What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?

## Question #4: Is there an association between rates of opioid prescriptions and overdose deaths by county?

## Question #5: Is there any association between a particular type of opioid and number of overdose deaths?