In [1]:
from sqlalchemy import create_engine, text

In [2]:
import pandas as pd

In [3]:
database_name = 'Prescribers'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:
engine

Engine(postgresql://postgres:***@localhost:5432/Prescribers)

In [6]:
cbsa1 = '''
SELECT *
FROM cbsa
'''

with engine.connect() as connection:
    cbsa = pd.read_sql(text(cbsa1), con = connection)

cbsa.head()

  fipscounty   cbsa                          cbsaname
0      01001  33860                    Montgomery, AL
1      01003  19300         Daphne-Fairhope-Foley, AL
2      01007  13820             Birmingham-Hoover, AL
3      01009  13820             Birmingham-Hoover, AL
4      01015  11500  Anniston-Oxford-Jacksonville, AL

In [7]:
prescriber1 = '''
SELECT *
FROM prescriber
'''

with engine.connect() as connection:
    prescriber = pd.read_sql(text(prescriber1), con = connection)

prescriber.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [8]:
zip_fips1 = '''
SELECT *
FROM zip_fips
'''

with engine.connect() as connection:
    zip_fips = pd.read_sql(text(zip_fips1), con = connection)

zip_fips.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [9]:
drug1 = '''
SELECT *
FROM drug
'''

with engine.connect() as connection:
    drug = pd.read_sql(text(drug1), con = connection)

drug.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [10]:
population1 = '''
SELECT *
FROM population
'''

with engine.connect() as connection:
    population = pd.read_sql(text(population1), con = connection)

population.head()

  fipscounty  population
0      47017     28137.0
1      47023     17097.0
2      47039     11681.0
3      47037    678322.0
4      47087     11573.0

In [11]:
fips_county1 = '''
SELECT *
FROM fips_county
'''

with engine.connect() as connection:
    fips_county = pd.read_sql(text(fips_county1), con = connection)

fips_county.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [12]:
overdose_deaths1 = '''
SELECT *
FROM overdose_deaths
'''

with engine.connect() as connection:
    overdose_deaths = pd.read_sql(text(overdose_deaths1), con = connection)

overdose_deaths.head()

   overdose_deaths  year  fipscounty
0              135  2015       47157
1              150  2016       47157
2              159  2017       47157
3              123  2018       47157
4              122  2015       47093

In [13]:
prescription1 = '''
SELECT *
FROM prescription
'''

with engine.connect() as connection:
    prescription = pd.read_sql(text(prescription1), con = connection)

prescription.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

## # Tennessee's Opioid Crisis

Opioids are a class of drugs including prescription pain relievers such as oxycodone and hydrocodone, the synthetic opioid fentanyl, and the illegal drug heroin. These drugs produce euphoria in addition to pain relief, which can lead to dependence, addiction, overdose, and death. 

In the late 1990s, opioids began to be prescribed at high rates, which led to widespread misuse and ultimately created a serious national health crisis. In 2019, more than 130 people per day died from opioid-related drug overdoses in the United States. Tennessee has been one of the hardest-hit states in the opioid epidemic, with more than 1300 overdose deaths in 2018.

## Question #1: * Which Tennessee counties had a disproportionately high number of opioid prescriptions?

In [16]:
opioid_drugs = drug[drug['opioid_drug_flag']==1]['drug_name']

In [17]:
opioid_prescription = prescription[prescription['drug_name'].isin(opioid_drugs)]

In [31]:
opioid_summary = opioid_prescription.groupby(npi)['total_claim_count'].sum().reset_index()

NameError: name 'npi' is not defined

In [18]:
opioid_with_prescribers = opioid_prescription.merge(prescriber, on='npi')

In [19]:
opioid_with_prescribers

Empty DataFrame
Columns: [npi, drug_name, bene_count, total_claim_count, total_30_day_fill_count, total_day_supply, total_drug_cost, bene_count_ge65, bene_count_ge65_suppress_flag, total_claim_count_ge65, ge65_suppress_flag, total_30_day_fill_count_ge65, total_day_supply_ge65, total_drug_cost_ge65, nppes_provider_last_org_name, nppes_provider_first_name, nppes_provider_mi, nppes_credentials, nppes_provider_gender, nppes_entity_code, nppes_provider_street1, nppes_provider_street2, nppes_provider_city, nppes_provider_zip5, nppes_provider_zip4, nppes_provider_state, nppes_provider_country, specialty_description, description_flag, medicare_prvdr_enroll_status]
Index: []

[0 rows x 30 columns]

In [20]:
tennessee_counties = fips_county[fips_county['state']=='TN']

In [21]:
opioid_with_prescriber = opioid_prescription.merge(prescriber, on='npi', how='left')

In [22]:
opioid_with_prescriber

Empty DataFrame
Columns: [npi, drug_name, bene_count, total_claim_count, total_30_day_fill_count, total_day_supply, total_drug_cost, bene_count_ge65, bene_count_ge65_suppress_flag, total_claim_count_ge65, ge65_suppress_flag, total_30_day_fill_count_ge65, total_day_supply_ge65, total_drug_cost_ge65, nppes_provider_last_org_name, nppes_provider_first_name, nppes_provider_mi, nppes_credentials, nppes_provider_gender, nppes_entity_code, nppes_provider_street1, nppes_provider_street2, nppes_provider_city, nppes_provider_zip5, nppes_provider_zip4, nppes_provider_state, nppes_provider_country, specialty_description, description_flag, medicare_prvdr_enroll_status]
Index: []

[0 rows x 30 columns]

In [23]:
print(opioid_prescription.columns)

Index(['npi', 'drug_name', 'bene_count', 'total_claim_count',
       'total_30_day_fill_count', 'total_day_supply', 'total_drug_cost',
       'bene_count_ge65', 'bene_count_ge65_suppress_flag',
       'total_claim_count_ge65', 'ge65_suppress_flag',
       'total_30_day_fill_count_ge65', 'total_day_supply_ge65',
       'total_drug_cost_ge65'],
      dtype='object')

In [24]:
print(tennessee_counties.columns)

Index(['county', 'state', 'fipscounty', 'fipsstate'], dtype='object')

In [37]:
pd.concat([drug, fips_county], axis=1)

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,county,state,fipscounty,fipsstate
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N,AUTAUGA,AL,01001,01
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N,BALDWIN,AL,01003,01
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,BARBOUR,AL,01005,01
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N,BIBB,AL,01007,01
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N,BLOUNT,AL,01009,01
...,...,...,...,...,...,...,...,...,...,...
3420,ZYPREXA,OLANZAPINE,N,N,N,Y,NaN,NaN,NaN,NaN
3421,ZYPREXA RELPREVV,OLANZAPINE PAMOATE,N,N,N,Y,NaN,NaN,NaN,NaN
3422,ZYPREXA ZYDIS,OLANZAPINE,N,N,N,Y,NaN,NaN,NaN,NaN
3423,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,NaN,NaN,NaN,NaN
3424,ZYVOX,LINEZOLID,N,N,Y,N,NaN,NaN,NaN,NaN

In [25]:
drug_opioid = pd.merge(drug, prescription, on=['drug_name'], how='outer')

In [33]:
drug_opioid_location = pd.concat([drug_opioid, fips_county], axis=1)

In [35]:
drug_opioid_location

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,...,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,county,state,fipscounty,fipsstate
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,AUTAUGA,AL,01001,01
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,BALDWIN,AL,01003,01
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.720135e+09,NaN,12.0,12.0,...,*,12.0,None,12.0,360.0,4616.65,BARBOUR,AL,01005,01
3,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.306887e+09,11.0,85.0,89.0,...,None,0.0,None,0.0,0.0,0.00,BIBB,AL,01007,01
4,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.982033e+09,NaN,11.0,11.0,...,*,NaN,*,NaN,NaN,NaN,BLOUNT,AL,01009,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706500,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.306863e+09,NaN,11.0,11.0,...,*,11.0,None,11.0,330.0,106655.66,NaN,NaN,NaN,NaN
706501,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.912231e+09,NaN,11.0,11.0,...,*,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706502,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.962652e+09,NaN,13.0,13.0,...,*,13.0,None,13.0,390.0,121342.73,NaN,NaN,NaN,NaN
706503,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N,1.609053e+09,NaN,16.0,16.0,...,*,16.0,None,16.0,480.0,128157.13,NaN,NaN,NaN,NaN
706504,ZYVOX,LINEZOLID,N,N,Y,N,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
drug_opioid_tn = drug_opioid_location[drug_opioid_location['state']=='TN']

In [28]:
drug_combined_tn = drug_opioid_tn.groupby(['opioid_drug_flag', 'total_day_supply_ge65', 'state']).size().reset_index(name='count')

In [29]:
drug_opioid_tn.reset_index().sort_values('total_day_supply_ge65')

,index,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,...,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,county,state,fipscounty,fipsstate
34,2504,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.013393e+09,NaN,15.0,...,None,0.0,None,0.0,0.0,0.0,HARDEMAN,TN,47069,47
83,2553,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.568897e+09,NaN,11.0,...,None,0.0,None,0.0,0.0,0.0,TIPTON,TN,47167,47
51,2521,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.457397e+09,NaN,12.0,...,None,0.0,None,0.0,0.0,0.0,LINCOLN,TN,47103,47
82,2552,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.437442e+09,NaN,11.0,...,None,0.0,None,0.0,0.0,0.0,SUMNER,TN,47165,47
37,2507,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.578529e+09,NaN,12.0,...,None,0.0,None,0.0,0.0,0.0,HAYWOOD,TN,47075,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,2557,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.932141e+09,11.0,25.0,...,#,NaN,#,NaN,NaN,NaN,VAN BUREN,TN,47175,47
88,2558,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.023195e+09,NaN,22.0,...,#,NaN,#,NaN,NaN,NaN,WARREN,TN,47177,47
90,2560,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.386795e+09,NaN,20.0,...,#,NaN,#,NaN,NaN,NaN,WAYNE,TN,47181,47
91,2561,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.447424e+09,NaN,14.0,...,*,NaN,*,NaN,NaN,NaN,WEAKLEY,TN,47183,47
92,2562,ACYCLOVIR,ACYCLOVIR,N,N,N,N,1.881643e+09,17.0,34.0,...,#,NaN,#,NaN,NaN,NaN,WHITE,TN,47185,47

In [30]:
drug_y = drug_combined[drug_combined['opioid_drug_flag']=='Y']

NameError: name 'drug_combined' is not defined

In [ ]:
drug_y

In [ ]:
tn_counties = drug

In [ ]:
drug_pre=pd.merge(drug, prescription, on=['drug_name'], how='inner')
drug_pre

In [ ]:
pre_pre=pd.merge(drug_pre, prescriber, on=['npi'], how='inner')
pre_pre

In [ ]:
opioid = drug[drug['opioid_drug_flag']=='Y']

In [ ]:
opioid

In [ ]:
drug_opioid = pd.merge(drug, prescription, on=['drug_name'], how='outer')

In [ ]:
dict(drug_opioid)

In [ ]:
combined = pd.concat([pre_pre, zip_fips], axis=1)

In [ ]:
combined

## Question #1: * Which Tennessee counties had a disproportionately high number of opioid prescriptions?

def find_outliers_iqr(data, column,):

    q1 = data[column].quantile(0.25)
    q3 = data[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    
    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]
    return outliers

find_outliers_iqr(drug_fips_pre, )

drug_fips_pre = pd.concat([drug, fips_county, prescription], axis=1)

drug_fips_pre

tennessee_data = (drug_fips_pre[drug_fips_pre['state']=='TN'] & drug_fips_pre['opioid_drug_flag']=='Y')

tennessee_data

opioid_data = tennessee_data[tennessee_data['opioid_drug_flag']=='Y']

opioid_data

# Question #1: * Which Tennessee counties had a disproportionately high number of opioid prescriptions?

In [ ]:
combined_tables = pd.concat([drug, prescription, population, fips_county], axis=1)

In [ ]:
dict(combined_tables)

In [ ]:
combined_tn = combined_tables[combined_tables['state']=='TN']

In [ ]:
dict(combined_tn)

## Question #2: Who are the top opioid prescibers for the state of Tennessee?

## Question #3:  What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?

## Question #4: Is there an association between rates of opioid prescriptions and overdose deaths by county?

## Question #5: Is there any association between a particular type of opioid and number of overdose deaths?